@use "src/styles/colors";
@use "src/styles/rounded";
@use "src/styles/responsive";

.dropdown {
  position: relative;
  max-width: 580px;
  width: 100%;
  &__header {
    @include responsive.mobile-only{
      padding: 6px 12px;
      font-size: 0.7rem;
    }
    z-index: 3;
    position: relative;
    border-radius: rounded.$radius-sm;
    background-color: map-get(colors.$colors, primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: map-get(colors.$colors, text-light);
    padding: 13px 20px;
    cursor: pointer;

    img {
      @include responsive.mobile-only {
        transform: scale(0.6);
      }
      transition: transform 300ms ease-in-out;
    }
  }

  &__heading {
    @include responsive.mobile-only {
      font-size: 0.7rem;
      align-self: center;
    }
    align-self: center;
  }

  &__content {
    @include responsive.mobile-only {
      font-size: 0.65rem;
      line-height: 0.9rem;
    }
    position: relative;
    margin-top: -5px;
    z-index: 1;
    background-color: map-get(colors.$colors, secondary);
    color: map-get(colors.$colors, primary);
    max-height: 0;
    padding: 0 27px 0 20px;
    overflow: hidden;
    transition: max-height 600ms ease-in-out, padding 800ms ease-in-out;
    border-bottom-left-radius: rounded.$radius-sm;
    border-bottom-right-radius: rounded.$radius-sm;
    line-height: 34px;

    li {
      @include responsive.mobile-only {
        padding-top: 2px;
        padding-bottom: 2px;
      }
      line-height: initial;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  &--lg {
    max-width: 1023px;
    .dropdown__header {
      @include responsive.mobile-only {
        height: 30px;
      }
      font-size: 1.3rem;
    }
    .dropdown__content {
      @include responsive.mobile-only {
        font-size: 0.65rem;
        line-height: 0.94rem;
      }
      font-size: 1.3rem;
    }
  }

  &.active {
    .dropdown__header {
      img {
        @include responsive.mobile-only {
          transform: scale(0.6) rotate(-180deg)
        }
        transform: rotate(-180deg);
      }
    }

    .dropdown__content {
      max-height: 600px;
      padding: 20px 27px 20px 20px;
    }
  }
}