@use "src/styles/colors";
@use "src/styles/rounded";

.tag {
  display: inline-block;
  text-align: center;
  color: map-get(colors.$colors, text-light);
  background-color: map-get(colors.$colors, primary);
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: rounded.$radius;
  min-width: 115px;
  font-size: 0.8rem;
}