@use 'src/styles/responsive';

.rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.rating-star {
  @include responsive.mobile-only {
    width: 15px;
    margin-left: 5px;
  }
  margin-left: 10px;
}