@use "styles/typo";
@use "styles/responsive";
@import "styles/reset";


body {
  @include typo.mainTypo;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

header, main {
  @include responsive.mobile-only {
    width: 90%;
  }
  max-width: 1240px;
  width: 86%;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
