@use "styles/typo";
@import "styles/reset";


body {
  @include typo.mainTypo;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

header {
  width: 86%;
  margin: auto;
}

main {
  width: 86%;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
