@use "../../../styles/colors";

.nav__item {
  a {
    color: map-get(colors.$colors, primary);
    font-size: 24px;
    text-decoration: none;
    &:hover, &.active {
      text-decoration: underline;
    }
  }

}